@model IEnumerable<Test.Models.Support>

@{
    ViewData["Title"] = "Index";
}
<div class="row col-lg-offset-8">
    <ul class="nav navbar-nav">
        <li><a asp-action="Tagged" asp-controller="Tag" asp-route-sortOrder="latest">Latest</a></li>
        <li><a asp-action="Tagged" asp-controller="Tag" asp-route-sortOrder="hot">Hot</a></li>
        <li><a asp-action="Tagged" asp-controller="Tag" asp-route-sortOrder="interesting">Interesting</a></li>
    </ul>

</div>
<hr />


<p>
    <a asp-controller="Question" asp-action="Ask">Ask a question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question.QuestionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question.QuestionVote)
            </th>
            <th>
                Tags
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>

                <td>
                    <a asp-controller="Question" asp-action="Details" asp-route-id="@item.QuestionID">@Html.DisplayFor(modelItem => item.Question.QuestionTitle)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question.QuestionVote)
                </td>
                <td>

                    @foreach (var tag in item.Question.Supports)
                    {
                        <a asp-controller="Tag" asp-action="Index" asp-route-tagName="@tag.Tag.TagName">@tag.Tag.TagName |</a>

                    }


                </td>
                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.QuestionID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.QuestionID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.QuestionID">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>