@model Test.Models.Question

@{
    ViewData["Title"] = "Nội dung";
}



<div>
    <h4>Câu hỏi</h4>
    <hr />
    <div class="container">
        <h1 style="color:black">@Html.DisplayFor(model => Model.QuestionTitle)</h1>
        <hr />
        <h2>@Html.Raw(Model.QuestionDescription)</h2>

        <div class="row">
            @foreach (var tag in Model.Supports)
            {
                <a asp-controller="Tag" asp-action="Tagged" asp-route-tagName="@tag.Tag.TagName">@tag.Tag.TagName |</a>
            }
        </div>
        <div class="row col-lg-offset-10">
            <div class="row">
                <h2 style="color:blue">Người đặt câu hỏi:</h2>
            </div>
            <div>
                <a asp-controller="Person" asp-action="Profile" asp-route-PersonID="@Model.Person.PersonID">
                    @Html.DisplayFor(model => Model.Person.PersonDisplayName)
                </a>
                
            </div>
        </div>


        <div class="row">
            <form asp-action="Vote">
                <a class="fa fa-thumbs-o-up" asp-action="Vote" asp-route-id="@Model.QuestionID"></a>
                <span style="margin-right:4em">@Html.DisplayFor(model => Model.QuestionVote)</span>
            </form>
            <button class="btn-success btn-lg" href="#giveAnswer" data-toggle="collapse">
                Câu trả lời của bạn
            </button>

        </div>
        <div id="giveAnswer" class="panel-body panel-collapse collapse">
            <hr />
            <h2>Câu trả lời của bạn</h2>

            <form asp-action="TakeAnswer" method="get">



                <div class="form-actions no-color">
                    <p>
                        <textarea type="text" id="answerText" name="answerText"></textarea>
                        @*<input  type="submit" value="Post Your Answer" class="btn btn-success" />*@
                        <input type="hidden" name="id" value=@Model.QuestionID>

                        <button type="submit" class="btn btn-success">
                            Post Your Answer
                        </button>



                    </p>
                </div>


            </form>


        </div>


        <div class="row">@Html.DisplayFor(model => Model.Answers.Count) câu trả lời</div>
        <hr />
        <div id="answers">
            @foreach (var item in Model.Answers)
            {
                <div class="row">
                    @Html.Raw(item.AnswerDescription)
                </div>
                    <div class="row">
                        <form asp-controller="Answer" asp-action="Vote">
                            <a class="fa fa-thumbs-o-up" asp-controller="Answer" asp-action="Vote" asp-route-id=@item.AnswerID></a>
                            <span style="margin-right:4em">@item.Vote</span>


                        </form>

                        <div class="col-lg-offset-10">
                            <h2 style="color:forestgreen">Được trả lời bởi:</h2>
                        </div>
                        <div class="col-lg-offset-10">
                            <a asp-controller="Person" asp-action="Profile" asp-route-PersonID="@item.Person.PersonID">
                                @item.Person.PersonDisplayName
                            </a>
                           
                        </div>
                    </div>
                    <hr />
            }
        </div>

        


    </div>

    @*<a asp-action="Edit" asp-route-id="@Model.QuestionID">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
</div>
