@*@model ListViewModel

    @{
        ViewData["Title"] = "User";
    }

    <div class="row col-lg-offset-8">
        <ul class="nav navbar-nav">
            <li class="active"><a>Users</a></li>
            <li><a asp-controller="Person" asp-action="Profile">Profile</a></li>
            <li><a asp-controller="Person" asp-action="Activity">Activity</a></li>
        </ul>

    </div>
    <hr />

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="searchText" value="@ViewData["searchText"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index" asp-route-page="1">Back to List</a>
            </p>
        </div>
    </form>


        <div class="container">


            <table>
                <tr>
                    @{
                        int cnt = 0;
                        foreach (var item in Model.Persons)
                        {
                            if (cnt++ % 3 == 0)
                            {
                                @:</tr><tr>
                    }
                            <td style="width: 520px;
                           border-bottom: 1px dotted #E4E6E7;
                           padding-bottom: 12px;
                           padding-right: 6px;
                           padding-top: 6px;
                           vertical-align: top;">

                                <div class="user">
                                    <a class="post-tag" asp-controller="Person" asp-action="Profile" asp-route-id="@item.PersonID"><h2>@item.PersonDisplayName</h2></a>
                                    <div class="user-info">
                                        <span>@item.PersonCareer</span>
                                        <span>@item.PersonLocation</span>
                                        <span>@item.Score</span>
                                    </div>
                                    <div>
                                        @if (item.TagsPro != null)
                                        {

                                            foreach (var tag in item.TagsPro)
                                            {
                                                <a asp-controller="Tag" asp-action="Tagged" asp-route-tagName="@tag.TagName">@tag.TagName |</a>

                                            }
                                        }

                                    </div>
                                </div>



                            </td>
                        }@:</tr>




                    }

                </table>
            <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                 page-class="btn" page-class-normal="btn-default"
                 page-class-selected="btn-primary"
                 class="btn-group pull-right">
            </div>
            </div>*@

@model ListViewModel

@{
    ViewData["Title"] = "Người dùng";
}


<hr />

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Tìm theo tên: <input type="text" name="searchText" value="@ViewData["searchText"]" />
            Tìm theo tag: <input type="text" name="sortTag" value="@ViewData["sortTag"]" />
            &nbsp; &nbsp; <input type="submit" value="Tìm kiếm" class="btn btn-primary" style="height:55px"/> 
         
        </p>
      
    </div>
</form>
<div class="container">

    @foreach (var item in Model.Persons)
    {
        <div class="col-md-4">
           
            <div class="panel panel-success">
                <div class="panel-heading">
                    <a class="post-tag" asp-controller="Person" asp-action="Profile" asp-route-PersonID="@item.PersonID"><h2>@item.PersonDisplayName</h2></a>
                    
                </div>
                <div class="panel-body" style="background-color:white">
                    <div class="col-lg-3">
                        <img alt="avatar" src='~/avatars/@item.PersonAvatar' class="img-circle img-responsive">
                    </div>
                    <div class="user-info col-lg-9">
                        <span><strong>Nghề nghiệp:</strong> @item.PersonCareer</span><br />
                        <span><strong>Địa chỉ:</strong> @item.PersonLocation</span><br />
                        <span><strong>Score:</strong> @item.Score</span>
                    </div>
                   
                </div>

                <div class="panel-footer">
                    <div>
                       

                            @foreach (var tag in item.Support2s)
                            {
                                <a asp-controller="Tag" asp-action="Tagged" asp-route-tagName="@tag.Tag.TagName">@tag.Tag.TagName &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;</a>

                            }
                       
                    </div>
                </div>
            </div>
            
        </div>

    }
</div>